<link href="/static/css/aboutpage.css" rel="stylesheet" type="text/css">

<div class="about-section">
    <h1>About Us Page</h1>
    <p>Some text about who we are and what we do.</p>
    <p>Resize the browser window to see that this page is responsive by the way.</p>
</div>
<h2 style="text-align:center">Our Team</h2>

<!--Rakib Miah-->

<div class="row">
    <div class="column">
        <div class="card">
            <img src="/static/base/cover.jpg" alt="Jane" style="width:100%">
            <div class="container">
                <h2>Rakib Miah</h2>
                <p class="title">CEO & Founder</p>
                <p>Software Engineer</p>
                <p>mdrakibk849@gmail.com</p>
                <p>
                    <button class="button">Contact</button>
                </p>
            </div>
        </div>
    </div>

    <!--Shawon Miah-->

    <div class="row">
        <div class="column">
            <div class="card">
                <img src="/static/base/Art Director.jpg" alt="Jane" style="height:450px;width:100%">
                <div class="container">
                    <h2>Shawon Miah</h2>
                    <p class="title">Art Director</p>
                    <p>Software Engineer</p>
                    <p>ahsawon506@gmail.com</p>
                    <p>
                        <button class="button">Contact</button>
                    </p>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="column">
                <div class="card">
                    <img src="/static/base/Designer.jpg" alt="Jane" style=" height:450px;width:100%">
                    <div class="container">
                        <h2>Rakibullah</h2>
                        <p class="title">Designer</p>
                        <p>Software Engineer</p>
                        <p>rakibullah19730@gmail.com</p>
                        <p>
                            <button class="button">Contact</button>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!--Rakibullah -->

</div>
